.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.phpunit.cache
/.vagrant
/.vscode
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
/vendor/
Homestead.json
Homestead.yaml
app/storage/
auth.json
bootstrap/compiled.php
node_modules/
npm-debug.log
public/hot
public/storage
public_html/hot
public_html/storage
storage/*.key
yarn-error.log
docker/ecr_push.sh
docker/.env.prod
